<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link href="_resources/layout.css" rel="stylesheet">

        <!-- The title of the page that will appear in the browser tab/window -->
        <title>HTML Sample</title>

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
	
    <body>
        <header class="page-header">
			<img src="http://placehold.it/200x50" />
		
            <nav class="clearfix">
				<ul class="clearfix primary-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				
				<ul class="clearfix secondary-nav">
					<li><a href="#">Support</a></li>
				</ul>
            </nav>
        </header>

        <main class="wrapper">
			<section class="blog-area clearfix">
				<section class="posts-container">
					<article class="post">
						<header>
							<h1>Title</h1>
						</header>
						
						<section>
							<p>Bacon ipsum dolor amet turkey pancetta ham frankfurter filet mignon ball tip capicola bacon strip steak chicken chuck beef ribs jerky tail. Swine chuck fatback biltong tri-tip venison strip steak t-bone bacon bresaola.</p>
							<p>Tri-tip doner ham corned beef landjaeger cow short ribs beef biltong chuck sirloin. Tri-tip filet mignon landjaeger sirloin doner, chicken pork chop swine short loin ham. Short loin shankle fatback pastrami beef.</p>
						</section>
						
						<footer>
							<p>Posted <em>yesterday</em></p>
						</footer>
					</article>
				</section>
				
				<aside class="sidebar">
					<h1>Menu Bar</h1>
					
					<ul>
						<li>foo</li>
						<li>bar</li>
						<li>qux</li>
					</ul>
				</aside>
			</section>

			<div>
				<p>Hello world</p>
			</div>
        </main>

        <footer class="page-footer">
			Copyright &copy; 2015
        </footer>
    </body>
</html>