* {
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

header {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);

    background-color: white;
    height: 115px;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.social {
    font-family: 'Oswald', sans-serif;
    padding: 0 15px;
    text-align: right;
}

.social ul {
    display: inline-block;
}

.social ul li {
    display: inline-block;
    margin: 5px;
}

.social ul li a {
    color: #989898;
}

.social ul li a .fa-facebook:hover {
    color: #3b5998;
}

.social ul li a .fa-twitter:hover {
    color: #00aced;
}

.social ul li a .fa-google-plus:hover {
    color: #d34836;
}

nav {
    background-color: #AA1801;
    height: 60px;
    position: relative;
}

nav img {
    display: inline-block;
    margin-top: -15px;
    position: absolute;
}

nav form {
    background-color: #911402;
    border-radius: 15px;
    color: orange;
    float: left;
    margin-left: 150px;
    margin-top: 15px;
    padding: 5px 10px;
}

nav form input {
    background-color: inherit;
    border: none;
    color: #ffffff;
    outline: none;
}

nav ul {
    display: inline-block;
    float: right;
    height: 100%;
}

nav ul li {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 rgba(255, 255, 255, 0.1) inset;
    float: left;
    height: 100%;
    list-style: none;
}

nav ul li:first-child, nav ul li:last-child {
    box-shadow: none;
}

nav ul li.login {
    background-color: #C43B01;
}

nav ul li.edition {
    background-color: #D55201;
}

nav ul li a {
    color: white;
    display: block;
    font-family: sans-serif;
    height: 100%;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #981500;
}

nav ul li.login a:hover, nav ul li.edition a:hover {
    background-color: #F36A02;
}

.landing_articles article {
    background: url("http://img2.timeinc.net/health/images/gallery/eating/pineapple-pesticide-400x400.jpg");
    background-size: cover;
    color: black;
    float: left;
    height: 400px;
    width: 33%;
}

.landing_articles article div {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

    height: 100%;
}

.landing_articles article div h3 {
    color: orange;
    font-family: sans-serif;
    font-size: 14px;
}

.landing_articles article div h1 {
    color: white;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.landing_articles article div p {
    padding: 15px;
    text-align: justify;
}